# 1. 인구 피라미드

In [18]:
import pandas as pd
df_m = pd.read_excel('201201_201203_연령별인구현황_월간.xlsx', skiprows=3, index_col='행정기관', usecols='B, E:Y')
df_m.head(3)

C:\Users\JeongHyeonju\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"1,196,298","1,215,642","1,627,682","1,878,394","1,692,322","1,798,832","2,058,717","2,151,718","2,346,348","2,171,235",...,"1,608,133","1,139,681","885,678","719,811","437,707","194,827","77,608","22,964","4,766","2,691"
서울특별시,"216,843","212,597","282,790","344,798","337,696","421,899","475,109","452,897","463,064","412,326",...,"334,448","240,777","190,839","139,263","74,020","32,185","13,282","4,663","1,203",907
부산광역시,"67,475","69,137","99,796","128,970","123,263","126,669","138,762","134,439","148,476","145,068",...,"137,184","100,614","73,804","55,002","29,768","12,274","4,325","1,141",244,230

In [19]:
df_m.iloc[0] = df_m.iloc[0].str.replace(',', '').astype(int) #1,195,951 > 119591 [정수형]

In [20]:
df_m.iloc[0]

0~4세       1196298
5~9세       1215642
10~14세     1627682
15~19세     1878394
20~24세     1692322
25~29세     1798832
30~34세     2058717
35~39세     2151718
40~44세     2346348
45~49세     2171235
50~54세     2182972
55~59세     1608133
60~64세     1139681
65~69세      885678
70~74세      719811
75~79세      437707
80~84세      194827
85~89세       77608
90~94세       22964
95~99세        4766
100세 이상       2691
Name: 전국  , dtype: object